/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
#categories_block_top {
  clear: both;
  position: relative;
  top: 30px;
}
#categories_block_top .sf-menu {
  position: relative;
}
#categories_block_top .sf-menu > li {
  position: static;
}
#categories_block_top .sf-menu > li > ul {
  width: 100%;
  top: 60px;
  margin: 0 20px;
}
#categories_block_top .sf-menu > li > ul > li {
  display: block;
  float: left;
  width: 20%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 10px;
}
.rtl #categories_block_top .sf-menu > li > ul > li {
  float: right;
}
#categories_block_top .sf-menu > li > ul > .category_thumb {
  display: block;
  clear: both;
  overflow: hidden;
  width: 100%;
}
#categories_block_top .sf-menu > li > ul > .category_thumb img {
  display: inline-block;
  width: 33%;
}
#categories_block_top .sf-menu > li h4 a {
  font-size: 1.1em;
}
#categories_block_top .sf-menu > li h4 a:before {
  display: none;
}
#categories_block_top .sf-menu > li .main-level-submenus {
  position: relative;
  display: block !important;
  visibility: visible !important;
  top: 0;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding: 0;
  left: 0;
}
.rtl #categories_block_top .sf-menu > li .main-level-submenus {
  right: 0;
  left: auto;
}
#categories_block_top .sf-menu .category_thumb {
  display: none;
}

#categories_block_left ul, .sidebar-right .blockcategories_footer ul {
  margin-bottom: 0;
}
#categories_block_left ul li, .sidebar-right .blockcategories_footer ul li {
  position: relative;
}
#categories_block_left ul li a, .sidebar-right .blockcategories_footer ul li a {
  color: #272727;
  font-size: 12px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
}
#categories_block_left ul li a:hover, .sidebar-right .blockcategories_footer ul li a:hover {
  color: #e47277;
}
#categories_block_left ul li a.selected, .sidebar-right .blockcategories_footer ul li a.selected {
  color: #e47277;
}
#categories_block_left ul li span.grower, .sidebar-right .blockcategories_footer ul li span.grower {
  display: block;
  position: absolute;
  right: 0px;
  top: 4px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 13px;
  width: 25px;
  height: 25px;
  z-index: 999;
}
.rtl #categories_block_left ul li span.grower, .rtl .sidebar-right .blockcategories_footer ul li span.grower {
  left: 0px;
  right: auto;
}
#categories_block_left ul li span.grower.OPEN:before, #categories_block_left ul li span.grower.CLOSE:before, .sidebar-right .blockcategories_footer ul li span.grower.OPEN:before, .sidebar-right .blockcategories_footer ul li span.grower.CLOSE:before {
  content: "\f056";
  display: block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  color: #999999;
  line-height: 25px;
  text-align: center;
}
#categories_block_left ul li span.grower.CLOSE:before, .sidebar-right .blockcategories_footer ul li span.grower.CLOSE:before {
  content: "\f055";
}
#categories_block_left ul li .leo-qty, .sidebar-right .blockcategories_footer ul li .leo-qty {
  position: relative;
  text-align: center;
  padding: 0 5px;
  color: #999;
  font-size: 12px;
  float: right;
  right: 30px;
}
.rtl #categories_block_left ul li .leo-qty, .rtl .sidebar-right .blockcategories_footer ul li .leo-qty {
  float: left;
}
.rtl #categories_block_left ul li .leo-qty, .rtl .sidebar-right .blockcategories_footer ul li .leo-qty {
  left: 30px;
  right: auto;
}
#categories_block_left ul li .leo-qty:before, .sidebar-right .blockcategories_footer ul li .leo-qty:before {
  content: "(";
  position: absolute;
  left: 0;
  top: 0;
}
.rtl #categories_block_left ul li .leo-qty:before, .rtl .sidebar-right .blockcategories_footer ul li .leo-qty:before {
  right: 0;
  left: auto;
}
#categories_block_left ul li .leo-qty:after, .sidebar-right .blockcategories_footer ul li .leo-qty:after {
  content: ")";
  position: absolute;
  right: 0;
  top: 0;
}
.rtl #categories_block_left ul li .leo-qty:after, .rtl .sidebar-right .blockcategories_footer ul li .leo-qty:after {
  left: 0;
  right: auto;
}
#categories_block_left ul li span.grower:hover, .sidebar-right .blockcategories_footer ul li span.grower:hover {
  color: #e47277;
}
#categories_block_left ul li ul, .sidebar-right .blockcategories_footer ul li ul {
  position: relative;
}
#categories_block_left ul li ul li, .sidebar-right .blockcategories_footer ul li ul li {
  padding: 0;
}
#categories_block_left ul li ul li a, .sidebar-right .blockcategories_footer ul li ul li a {
  color: #666666;
  font-weight: 400;
  font-size: 13px;
  position: relative;
  padding: 7px 0 7px 10px;
}
.rtl #categories_block_left ul li ul li a, .rtl .sidebar-right .blockcategories_footer ul li ul li a {
  padding: 7px 10px 7px 0;
}
#categories_block_left ul li ul li a:hover, .sidebar-right .blockcategories_footer ul li ul li a:hover {
  color: #e47277;
}
#categories_block_left ul li ul li span.grower, .sidebar-right .blockcategories_footer ul li ul li span.grower {
  right: 0px;
  top: 5px;
}
.rtl #categories_block_left ul li ul li span.grower, .rtl .sidebar-right .blockcategories_footer ul li ul li span.grower {
  left: 0px;
  right: auto;
}
