@import "compass";
@import "theme_variables";
// cateogry 
.content_scene_cat{
  position:relative;
  padding: 0 0px 20px;
}
#subcategories{
  margin-bottom: 15px;
}
.subcategories{
  position: relative;
  overflow: hidden;
  .image{
    overflow: hidden;
    img{
      @include opacity(0.7);
      @include transform(scale(1.1));
      @include transition(opacity 0.35s ease 0s, transform 0.35s ease 0s);
      display: inline-block;
    }
    a{
      display: block;
      background-color:$black;
      overflow: hidden;
    }
  }
  .cat-name{
    a{
      position: absolute;
      font-size: 16px;
      left: 0px;
      right: 0px; 
      bottom: 15px;
      margin: auto;
      color: $white;
      height: 40px;
      text-align: center;
      line-height: 40px;
      overflow: hidden;
      @include transition(all 0.3s ease 0s);
      letter-spacing: 2px;
      background: rgb(0, 0, 0);
      background: -moz-linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(63, 65, 77, 0.7) 100%);
      background: -webkit-linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(63, 65, 77, 0.7) 100%);
      background: -o-linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(63, 65, 77, 0.7) 100%);
      background: -ms-linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(63, 65, 77, 0.7) 100%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 30%, rgba(63, 65, 77, 0.7) 100%);
    }
  }
  .cat-desc{
    overflow: hidden;
    height: 53px; 
    display: none;
  }
  &:hover{
    img{
      @include transform(scale(1));
    }
    .cat-name{
      a{
        letter-spacing: 1px;
      }
    }
  }
}