/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/
.owl-row {
  margin: 0;
}

.owl-carousel .owl-item {
  padding: 0 20px;
}

/* Styling Next and Prev buttons */
.owl-theme .owl-controls {
  text-align: center;
}
.owl-theme .owl-controls .owl-buttons {
  position: absolute;
  top: -70px;
  right: 20px;
}
.owl-theme .owl-controls .owl-buttons div {
  position: absolute;
  z-index: 10;
  font-size: 0;
  line-height: 27px;
  color: transparent;
}
.owl-theme .owl-controls .owl-buttons div:before {
  content: '\f2ee';
  font-family: 'Material-Design-Iconic-Font';
  color: #d4d4d4;
  font-size: 18px;
  text-shadow: none;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
  right: 40px;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:before {
  content: "\f2ea";
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
  right: 0;
}
.owl-theme .owl-controls .owl-buttons div:hover:before {
  color: #e47277;
}

.rtl .owl-theme .owl-controls .owl-buttons {
  left: 74px;
  right: auto;
}

/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-pagination {
  margin-bottom: 25px;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /*IE7 life-saver */
}
.owl-theme .owl-controls span {
  display: block;
  width: 13px;
  height: 13px;
  margin: 0 3px;
  opacity: 0.4;
  filter: alpha(opacity=40);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background: #ffffff;
  background: -moz-linear-gradient(180deg, #eaeaea 0%, white 100%);
  background: -webkit-linear-gradient(180deg, #eaeaea 0%, white 100%);
  background: -o-linear-gradient(180deg, #eaeaea 0%, white 100%);
  background: -ms-linear-gradient(180deg, #eaeaea 0%, white 100%);
  background: linear-gradient(180deg, #eaeaea 0%, #ffffff 100%);
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* If PaginationNumbers is true */
.owl-theme .owl-controls .owl-page span.owl-numbers {
  height: auto;
  width: auto;
  color: #FFF;
  padding: 2px 10px;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* preloading images */
.owl-item.loading {
  min-height: 150px;
  background: url(../img/AjaxLoader.gif) no-repeat center center;
}
