/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/**********************************************
STYLE GLOBAL
**********************************************/
.group-widget .title_block, .ApColumn .title_block {
  font-size: 22px;
  position: relative;
  padding: 0;
  margin: 0 0 40px;
  text-align: left;
  text-transform: none;
  color: #5d3b3c;
}
.rtl .group-widget .title_block, .rtl .ApColumn .title_block {
  text-align: right;
}

.group-widget .product-deal-group .title_block {
  text-align: center;
}

.ApColumn .block {
  margin-bottom: 70px;
}
.ApColumn .block.products_block {
  margin-bottom: 50px;
}

.bg-fullwidth {
  position: relative;
}
.bg-fullwidth:before {
  padding: 0px 1000px;
  margin-left: -1000px;
  width: 100%;
  overflow: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  position: absolute;
  height: 100%;
  display: block !important;
  top: 0;
}
.rtl .bg-fullwidth:before {
  margin-right: -1000px;
  margin-left: inherit;
}

/**
* Start for module ap_gmap
*/
div[id^="google-maps"] {
  position: relative;
}

div[id^="gmap-stores-list"] {
  overflow: auto!important;
}

div[id^="gmap-stores-list"] > ul {
  margin: 30px;
}

.display-list-store {
  background-color: #6cabd5;
  float: left;
}

.gmap-stores-content, .gmap-content {
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}

.not-display-list-store .gmap-stores-content, .not-display-list-store .gmap-content {
  width: 100%;
}

.gmap-cover {
  width: 100%;
}

.item-gmap-store {
  cursor: pointer;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 15px;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.item-gmap-store:hover {
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.item-gmap-store .icon-map-marker {
  margin-right: 6px;
  font-size: 120%;
}
.item-gmap-store text {
  font-size: 85%;
}

/**
* End for module ap_gmap
*/
/**
* Start for module ap_product_list
*/
.box-show-more {
  border-bottom: 1px solid #d6d4d4;
  padding-bottom: 5px;
  text-align: center;
  display: none;
}
.box-show-more .open {
  display: block;
}

/* Start for module ap_image */
.ap_image .has-animation {
  opacity: 0;
  filter: alpha(opacity=0);
}

.ap_image .has-animation.animated {
  opacity: 1;
  filter: alpha(opacity=100);
}

/* End for module ApFullSlider */
.full-slider {
  margin-top: 20px;
}
.full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
}
.full-slider .carousel-inner .item {
  width: 100%;
  height: 100%;
}

.full_slide_detail .full-slider {
  margin-top: 50px;
}
.full_slide_detail .full-slider .carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: url(../img/background_image_gallery.jpg);
}
.full_slide_detail .full-slider .carousel-inner .item {
  padding: 15px 20px;
  width: 100%;
  height: 100%;
}

/* Start for module ApFullSlider */
.cover-live-edit {
  width: 100%;
  border-top: 1px dashed #bdbdbd;
}
.cover-live-edit .link-to-back-end {
  text-decoration: none;
  color: #fff;
  z-index: 9999;
  background-color: rgba(204, 153, 0, 0.5);
  padding: 5px;
  position: relative;
  -webkit-box-shadow: 0 0 5px #bdbdbd;
  box-shadow: 0 0 5px #bdbdbd;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.cover-live-edit .link-to-back-end:hover {
  background-color: #00e676;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ap-cover-hook {
  border: 1px dashed #bdbdbd;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.ap-cover-hook:hover {
  border: 1px dashed #333;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/**
* ApVideo
*/
.embed-responsive {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-responsive iframe,
.embed-responsive object,
.embed-responsive embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Instagram Block */
.instagram-block a {
  display: inline-block;
  margin: 0 3px;
  overflow: hidden;
  position: relative;
}
.instagram-block a img {
  width: 85px;
  height: 85px;
}
.instagram-block .link-instagram {
  display: none;
}
.instagram-block .link-instagram a {
  margin: 10px 0 0;
}

#instafeed {
  margin: 0 -3px;
}

/* Tabs Top */
.tabs-top.product-tabs .nav-tabs {
  margin-bottom: 45px;
  border: none;
}
.tabs-top.product-tabs .nav-tabs > li {
  border: none;
  margin: 0;
}
.tabs-top.product-tabs .nav-tabs > li > a {
  color: #d4d4d4;
  font-family: "Roboto Slab", sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 35px 0 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background: transparent;
  margin: 0;
  border: none;
}
.rtl .tabs-top.product-tabs .nav-tabs > li > a {
  padding: 0 0 0 35px;
}
.tabs-top.product-tabs .nav-tabs > li > a:hover {
  color: #e47277;
  border: none;
}
.tabs-top.product-tabs .nav-tabs > li.active > a, .tabs-top.product-tabs .nav-tabs > li.active > a:hover, .tabs-top.product-tabs .nav-tabs > li.active a:focus {
  color: #e47277;
  border: none;
}

/* Raw HTML */
#reinsurance-block {
  margin: 0 0 50px;
  border-bottom: 1px solid #ededed;
}
@media (max-width: 767px) {
  #reinsurance-block {
    margin-bottom: 20px;
  }
}
#reinsurance-block .block {
  margin-bottom: 0;
}
@media (max-width: 991px) and (min-width: 767px) {
  #reinsurance-block .block {
    min-height: 150px;
  }
}
#reinsurance-block [class*="col-"] {
  padding: 0;
}
#reinsurance-block .feature-box {
  padding: 30px 35px 30px 0;
  position: relative;
  line-height: 20px;
  border-top: 1px solid #ededed;
  color: #696969;
  display: flex;
}
.rtl #reinsurance-block .feature-box {
  padding: 30px 0 30px 35px;
}
@media (min-width: 768px) {
  #reinsurance-block .feature-box:after {
    content: "";
    position: absolute;
    top: 35px;
    right: 25px;
    width: 1px;
    height: 60px;
    border-right: 1px solid #ededed;
  }
  .rtl #reinsurance-block .feature-box:after {
    left: 25px;
    right: auto;
  }
  .rtl #reinsurance-block .feature-box:after {
    border-left: 1px solid #ededed;
    border-right: inherit;
  }
}
#reinsurance-block .feature-box.last:after {
  display: none;
}
#reinsurance-block .feature-box .fbox-icon {
  float: left;
  margin-right: 20px;
  margin-top: 5px;
}
.rtl #reinsurance-block .feature-box .fbox-icon {
  float: right;
}
.rtl #reinsurance-block .feature-box .fbox-icon {
  margin-left: 20px;
  margin-right: inherit;
}
#reinsurance-block .feature-box .fbox-icon .icon {
  width: 55px;
  height: 55px;
  background: url("../../../../../img/default/icon-reinsurance.png") no-repeat 0 0 transparent;
  display: block;
  color: white;
}
#reinsurance-block .feature-box .fbox-icon .icon.icons-v2 {
  background-position: 0px -73px;
}
#reinsurance-block .feature-box .fbox-icon .icon.icons-v3 {
  background-position: 0px -145px;
}
#reinsurance-block .feature-box .fbox-icon .icon.icons-v4 {
  background-position: 0px -214px;
}
#reinsurance-block .feature-box h4 {
  margin: 0 0 5px;
  padding: 0px 0 5px;
  font-size: 14px;
  color: black;
}
#reinsurance-block .feature-box p {
  margin: 0;
  padding: 0;
}
#reinsurance-block .feature-box:hover {
  cursor: pointer;
}
#reinsurance-block .feature-box:hover .fbox-icon {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

/* ApImage */
.ApImage img {
  margin: auto;
}
.ApImage.logo-footer {
  margin-bottom: 0;
}
.ApImage.logo-footer img {
  margin-bottom: 15px;
}
.ApImage.logo-footer .image_description {
  line-height: 24px;
}
.ApImage.payment {
  margin-bottom: 0;
  text-align: right;
}
.rtl .ApImage.payment {
  text-align: left;
}
.ApImage.payment img {
  display: inline-block;
  margin-top: 10px;
}

/* Widget Category Image */
.widget-category-top .widget-category_image a {
  width: 100%;
}
@media (min-width: 991px) {
  .widget-category-top .widget-category_image a:hover .nbproducts-child {
    height: 80px;
  }
  .widget-category-top .widget-category_image a:hover .nbproducts-child:before {
    content: '\f2ee';
  }
  .widget-category-top .widget-category_image a:hover .nbproducts-child .name-cat {
    margin-bottom: 5px;
  }
}
.widget-category-top .widget-category_image .nbproducts-child {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  position: absolute;
  bottom: 0;
  padding: 10px 40px;
  left: 0;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.rtl .widget-category-top .widget-category_image .nbproducts-child {
  right: 0;
  left: auto;
}
@media (max-width: 1024px) {
  .widget-category-top .widget-category_image .nbproducts-child {
    padding: 10px;
  }
}
@media (min-width: 991px) {
  .widget-category-top .widget-category_image .nbproducts-child {
    height: 50px;
  }
}
.widget-category-top .widget-category_image .nbproducts-child:before {
  content: '\f275';
  font-family: 'Material-Design-Iconic-Font';
  font-size: 18px;
  color: white;
  position: absolute;
  bottom: 10px;
  right: 40px;
  float: right;
}
.rtl .widget-category-top .widget-category_image .nbproducts-child:before {
  left: 40px;
  right: auto;
}
.rtl .widget-category-top .widget-category_image .nbproducts-child:before {
  float: left;
}
.widget-category-top .widget-category_image .cate_content {
  display: inline-block;
  position: relative;
  width: 100%;
}
.widget-category-top .widget-category_image .cate_content img {
  width: 100%;
}
.widget-category-top .widget-category_image .name-cat {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  color: white;
  display: block;
}
@media (max-width: 1024px) {
  .widget-category-top .widget-category_image .name-cat {
    font-size: 18px;
  }
}
@media (min-width: 991px) {
  .widget-category-top .widget-category_image .name-cat {
    margin-bottom: 15px;
  }
}
.widget-category-top .widget-category_image .leo-qty {
  color: white;
}
.widget-category-top .widget-category_image .leo-qty span {
  margin-left: 3px;
}

.widget-category_image a {
  color: white;
  display: inline-block;
}
.widget-category_image .cate_content .cate-parent {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  position: absolute;
  top: 0;
  padding: 25px 20px 20px 40px;
  white-space: inherit;
}
.rtl .widget-category_image .cate_content .cate-parent {
  padding: 25px 40px 20px 20px;
}
@media (max-width: 1199px) {
  .widget-category_image .cate_content .cate-parent {
    /* max 1199px */
    padding: 20px 10px 20px 30px;
  }
  .rtl .widget-category_image .cate_content .cate-parent {
    padding: 20px 30px 20px 10px;
  }
}
@media (max-width: 1024px) {
  .widget-category_image .cate_content .cate-parent {
    padding: 15px 20px;
  }
}
@media (min-width: 991px) {
  .widget-category_image .cate_content .cate-parent {
    width: 50%;
  }
}
@media (max-width: 990px) {
  .widget-category_image .cate_content .cate-parent {
    width: 40%;
  }
}
@media (max-width: 480px) {
  .widget-category_image .cate_content .cate-parent {
    font-size: 15px;
  }
}
.widget-category_image ul {
  margin: 0;
  position: relative;
}
.widget-category_image ul ul {
  padding: 6% 20px 10px 40px;
  position: absolute;
  top: 0;
}
@media (max-width: 1199px) {
  .widget-category_image ul ul {
    /* max 1199px */
    padding: 10px 20px;
  }
}
@media (min-width: 991px) {
  .widget-category_image ul ul {
    left: 50%;
  }
  .rtl .widget-category_image ul ul {
    right: 50%;
    left: auto;
  }
}
@media (max-width: 990px) {
  .widget-category_image ul ul {
    left: 40%;
  }
  .rtl .widget-category_image ul ul {
    right: 40%;
    left: auto;
  }
}
.widget-category_image ul ul .leo-qty {
  display: none !important;
}
.widget-category_image ul ul .name-cat {
  line-height: 25px;
}
@media (max-width: 1199px) {
  .widget-category_image ul ul .name-cat {
    line-height: 21px;
  }
}

/* Product Carousel */
.products_block.recently-viewed {
  margin-bottom: 50px;
}
.products_block.margin-bt45 {
  margin-bottom: 45px;
}

.product-deal-group {
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.product-deal-group.deal-home-1 {
  padding: 0 70px;
  margin: 0 auto;
  float: none;
}
.product-deal-group.deal-home-1:before, .product-deal-group.deal-home-1:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.product-deal-group.deal-home-1:before {
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYTRlZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(to right, #e47277 0%, #db6f73 100%), -webkit-linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
  background-image: -moz-linear-gradient(to right, #e47277 0%, #db6f73 100%), -moz-linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
  background-image: -o-linear-gradient(to right, #e47277 0%, #db6f73 100%), -o-linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
  background-image: linear-gradient(to right, #e47277 0%, #db6f73 100%), linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
}
.product-deal-group.deal-home-1:after {
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 2px 100%;
  -moz-background-size: 2px 100%;
  background-size: 2px 100%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYTRlZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #e47277 0%, #db6f73 100%), -webkit-linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
  background-image: -moz-linear-gradient(top, #e47277 0%, #db6f73 100%), -moz-linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
  background-image: -o-linear-gradient(top, #e47277 0%, #db6f73 100%), -o-linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
  background-image: linear-gradient(to bottom, #e47277 0%, #db6f73 100%), linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
}
@media (max-width: 1199px) {
  .product-deal-group.deal-home-1 {
    padding: 0 25px;
  }
}
.product-deal-group.deal-home-1 .products_block {
  padding-bottom: 50px;
  padding-top: 40px;
  margin-bottom: 70px;
}
.product-deal-group .title_block {
  margin: -10px 0 0px;
  display: inline-block;
  left: 0;
  right: 0;
  position: absolute;
}
.product-deal-group .title_block span {
  background: white;
  padding: 0 40px;
}
.product-deal-group.deal-home-3 .products_block {
  position: relative;
  padding: 50px 60px 40px;
  margin-bottom: 70px;
}
.product-deal-group.deal-home-3 .products_block:before, .product-deal-group.deal-home-3 .products_block:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.product-deal-group.deal-home-3 .products_block:before {
  background-position: 0 0, 0 100%;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 2px;
  -moz-background-size: 100% 2px;
  background-size: 100% 2px;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjEwMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYTRlZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(to right, #e47277 0%, #db6f73 100%), -webkit-linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
  background-image: -moz-linear-gradient(to right, #e47277 0%, #db6f73 100%), -moz-linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
  background-image: -o-linear-gradient(to right, #e47277 0%, #db6f73 100%), -o-linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
  background-image: linear-gradient(to right, #e47277 0%, #db6f73 100%), linear-gradient(to left, #5d3b3c 0%, #db6f73 100%);
}
.product-deal-group.deal-home-3 .products_block:after {
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 2px 100%;
  -moz-background-size: 2px 100%;
  background-size: 2px 100%;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYWNmZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjAlIiB5Mj0iMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzYTRlZDUiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNhOGVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
  background-image: -webkit-linear-gradient(top, #e47277 0%, #db6f73 100%), -webkit-linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
  background-image: -moz-linear-gradient(top, #e47277 0%, #db6f73 100%), -moz-linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
  background-image: -o-linear-gradient(top, #e47277 0%, #db6f73 100%), -o-linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
  background-image: linear-gradient(to bottom, #e47277 0%, #db6f73 100%), linear-gradient(to top, #5d3b3c 0%, #db6f73 100%);
}
@media (max-width: 1199px) {
  .product-deal-group.deal-home-3 .products_block {
    padding: 50px 20px 40px;
  }
}
.product-deal-group .ApBlockLink {
  text-align: center;
}
.product-deal-group .ApBlockLink .block {
  margin: 0;
}
.product-deal-group .ApBlockLink ul {
  border: 1px solid #ededed;
  margin: 40px 0 0;
  display: inline-block;
}
.product-deal-group .ApBlockLink ul li {
  display: inline-block;
  padding: 10px 15px 8px;
  border-right: 1px solid #ededed;
}
@media (max-width: 1199px) {
  .product-deal-group .ApBlockLink ul li {
    padding: 10px 8px 8px;
  }
}
@media (max-width: 568px) {
  .product-deal-group .ApBlockLink ul li {
    width: 50%;
    float: left;
    border-right: none;
    text-align: left;
  }
  .rtl .product-deal-group .ApBlockLink ul li {
    float: right;
  }
  .rtl .product-deal-group .ApBlockLink ul li {
    border-left: none;
    border-right: inherit;
  }
  .rtl .product-deal-group .ApBlockLink ul li {
    text-align: right;
  }
}
.product-deal-group .ApBlockLink ul li:last-child {
  border-right: none;
}
.rtl .product-deal-group .ApBlockLink ul li:last-child {
  border-left: none;
  border-right: inherit;
}
.product-deal-group .owl-theme .owl-controls .owl-buttons {
  right: 0;
  left: 0;
  top: -35px;
  width: 55px;
  margin: 0 auto;
}

/* Count Down */
.leo-more-cdown ul {
  left: 0;
  right: 0;
  margin: -55px auto 0;
  position: absolute;
  width: 94%;
  background-image: -webkit-linear-gradient(left, color-stop(#f1b6b9 0%), color-stop(#e47277 100%));
  background-image: linear-gradient(to right, #f1b6b9 0%, #e47277 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFF1B6B9', endColorstr='#FFE47277', GradientType=1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.leo-more-cdown ul li {
  padding: 0;
  width: 18%;
  height: 40px;
  line-height: 40px;
  color: white;
  margin: 0 5px;
  position: relative;
  cursor: pointer;
  text-align: center;
  display: inline-block;
}
.leo-more-cdown ul li span {
  display: none;
  text-transform: uppercase;
  position: absolute;
  left: 0;
}
.leo-more-cdown ul li b {
  display: inline-block;
  position: relative;
  font-size: 22px;
  color: white;
  font-weight: 300;
}
.leo-more-cdown ul li b:before {
  position: absolute;
  font-size: 22px;
  top: 0;
  content: ":";
  color: white;
  left: 0;
  margin-left: -12px;
}
.rtl .leo-more-cdown ul li b:before {
  right: 0;
  left: auto;
}
.rtl .leo-more-cdown ul li b:before {
  margin-right: -12px;
  margin-left: inherit;
}
@media (max-width: 1024px) {
  .leo-more-cdown ul li b:before {
    /* max 1024px */
    margin-left: -10px;
    top: -2px;
  }
  .rtl .leo-more-cdown ul li b:before {
    margin-right: -10px;
    margin-left: inherit;
  }
}
@media (max-width: 1024px) {
  .leo-more-cdown ul li b {
    /* max 1024px */
    font-size: 18px;
  }
}
.leo-more-cdown ul li.day b:before {
  display: none;
}

/* Latest Blog */
.latest-blogs .image {
  float: left;
  margin-right: 40px;
  overflow: hidden;
  zoom: 1;
}
.rtl .latest-blogs .image {
  float: right;
}
.rtl .latest-blogs .image {
  margin-left: 40px;
  margin-right: inherit;
}
.latest-blogs .right-block {
  overflow: hidden;
  zoom: 1;
}
.latest-blogs .blog-title a {
  color: black;
}
.latest-blogs .blog-title a:hover {
  color: #e47277;
}
.latest-blogs .blog-meta {
  color: #e47277;
  font-weight: 700;
  margin-bottom: 10px;
}
.latest-blogs .blog-readmore {
  margin-top: 20px;
}
.latest-blogs .blog-readmore .btn-readmore {
  background: white;
  border: 1px solid #ededed;
  padding: 5px 40px 5px 10px;
  color: #e47277;
}
.rtl .latest-blogs .blog-readmore .btn-readmore {
  padding: 5px 10px 5px 40px;
}
