/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
@media (min-width: 1006px) {
  .header_user_info ul.links {
    float: right;
  }
  .rtl .header_user_info ul.links {
    float: left;
  }
}
.header_user_info .popup-title {
  display: none;
}
.header_user_info li span, .header_user_info li i {
  color: white;
}
.header_user_info li span:hover, .header_user_info li i:hover {
  color: #e47277;
}
.header_user_info li.account {
  display: inline-block;
  padding: 14px 0 0 10px;
}
.rtl .header_user_info li.account {
  padding: 14px 10px 0 0;
}

#topbar .header_user_info .header_info {
  float: left;
  padding: 14px 0 9px;
  color: white;
}
.rtl #topbar .header_user_info .header_info {
  float: right;
}
#topbar .header_user_info .header_info a {
  text-transform: uppercase;
  color: #e47277;
  font-weight: 400;
}
#topbar .header_user_info .header_info a:hover {
  text-decoration: underline;
}
@media (max-width: 1007px) {
  #topbar .header_user_info .header_info {
    display: none;
  }
}

@media (max-width: 991px) {
  .header_user_info li span, .header_user_info li i {
    color: dimgrey;
  }
  .header_user_info li.account span, .header_user_info li.account i {
    color: white;
  }
}
