/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* blog listing */
.blogs-container {
  background: white;
  padding: 0 15px 20px;
}
.blogs-container .category-image img, .blogs-container .childrens img {
  margin: auto;
}
.blogs-container .title_block {
  color: black;
  font-family: "Roboto Slab", sans-serif;
  font-size: 30px;
  font-weight: 500;
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
.blogs-container .category-image img {
  padding-right: 10px;
}
.rtl .blogs-container .category-image img {
  padding-left: 10px;
  padding-right: inherit;
}
.blogs-container .blog-item {
  margin-bottom: 20px;
}
.blogs-container .blog-image {
  margin-bottom: 20px;
}
.blogs-container .blog-image img {
  width: 100%;
}
.blogs-container .blog-info .name {
  font-family: "Roboto", sans-serif;
  color: #272727;
  font-size: 16px;
  margin-bottom: 20px;
  min-height: 50px;
  line-height: 24px;
}
.blogs-container .blog-shortinfo {
  margin-bottom: 20px;
}
.blogs-container .blog-meta {
  margin-bottom: 20px;
}

.leading-blog .blog-meta {
  border: 1px solid #ededed;
  overflow: hidden;
  padding: 10px 0;
}
.leading-blog .blog-meta > span {
  border-right: 1px solid #ededed;
  padding: 5px 10px;
}
.rtl .leading-blog .blog-meta > span {
  border-left: 1px solid #ededed;
  border-right: inherit;
}
@media (max-width: 650px) {
  .leading-blog .blog-meta {
    border: none;
  }
  .leading-blog .blog-meta > span {
    border: none;
    padding: 0;
  }
}

.blog-tags, .extra-blogs, .blog-comments, .social-share {
  padding-bottom: 15px;
}

.extra-blogs ul li {
  padding: 6px 0;
  border-bottom: 1px solid #ededed;
}

.blog-video-code .inner {
  background: #DDD;
  padding: 12px;
  margin-bottom: 15px;
  text-align: center;
}

/* Blog Detail */
.blog-detail .blog-title {
  font-family: "Roboto Slab", sans-serif;
  color: #272727;
  font-size: 26px;
}
.blog-detail .blog-meta {
  margin-bottom: 10px;
}
.blog-detail .blog-image {
  margin-bottom: 20px;
  text-align: center;
}
.blog-detail .blog-image img {
  display: inline-block;
}
@media (max-width: 1199px) {
  .blog-detail .blog-comment #comment-form label {
    text-align: left;
  }
  .rtl .blog-detail .blog-comment #comment-form label {
    text-align: right;
  }
}

/* categories menu display on left or right sidebar */
#categories_blog_menu li {
  position: relative;
}
#categories_blog_menu li a {
  display: block;
  font-size: 14px;
  padding: 5px 0;
}
#categories_blog_menu li a .fa-edit {
  display: none;
}
#categories_blog_menu li a:hover span {
  color: black;
}
#categories_blog_menu li a:before {
  top: 12px;
}
#categories_blog_menu li span.grower {
  display: block;
  position: absolute;
  right: 0;
  top: 14px;
  cursor: pointer;
  font-family: "FontAwesome";
  font-size: 14px;
}
.rtl #categories_blog_menu li span.grower {
  left: 0;
  right: auto;
}
#categories_blog_menu li span.grower.OPEN:before, #categories_blog_menu li span.grower.CLOSE:before {
  content: "\f068";
  display: block;
  vertical-align: middle;
  width: 10px;
  font-size: 10px;
  color: #010101;
  text-align: center;
}
#categories_blog_menu li span.grower.CLOSE:before {
  content: "\f067";
}
#categories_blog_menu li li a {
  font-weight: normal;
  color: #777777;
}
#categories_blog_menu li li a:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 8px;
  float: left;
}
.rtl #categories_blog_menu li li a:before {
  padding-left: 8px;
  padding-right: inherit;
}
.rtl #categories_blog_menu li li a:before {
  float: right;
}

/* comment */
.comment-item {
  padding: 12px 0;
}
.comment-item img {
  padding-right: 12px;
}
.rtl .comment-item img {
  padding-left: 12px;
  padding-right: inherit;
}

.comment-wrap {
  overflow: hidden;
  background: none repeat scroll 0 0 #FFFFFF;
  border: 1px solid #E5E5E5;
  padding: 20px;
  position: relative;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
.comment-wrap .comment-meta {
  border-bottom: 1px solid #E5E5E5;
  font-size: 11px;
  margin: -20px -20px 10px;
  padding: 10px 20px;
}
.comment-wrap .comment-meta > span {
  font-weight: bold;
}
.comment-wrap .comment-meta > span span {
  font-weight: normal;
}

.blog-social .social-wrap > div {
  float: left;
  margin-right: 15px;
}
.rtl .blog-social .social-wrap > div {
  margin-left: 15px;
  margin-right: inherit;
}
.blog-social .social-heading {
  padding-right: 12px;
}

.blog-tags {
  clear: both;
}

.comment-link {
  background: none repeat scroll 0 0 #F4F4F4;
  display: block;
  font-weight: bold;
  padding: 10px 20px;
  margin: -11px -20px -10px 0;
  border-left: 1px solid #e5e5e5;
  float: right;
}
.rtl .comment-link {
  margin: -11px 0 -10px -20px;
}
.rtl .comment-link {
  border-right: 1px solid #e5e5e5;
  border-left: inherit;
}
.rtl .comment-link {
  float: left;
}

.ipts-captcha img {
  float: left;
  padding: 0 12px 0 0;
}
.rtl .ipts-captcha img {
  float: right;
}
.rtl .ipts-captcha img {
  padding: 0 0 0 12px;
}
.ipts-captcha input {
  width: 100px;
}

@media (max-width: 680px) {
  .comment-wrap .comment-meta {
    padding-bottom: 20px;
  }
  .comment-wrap .comment-meta > span {
    display: block;
  }
  .comment-wrap .comment-meta .comment-link {
    background: transparent;
    float: left;
    border: none;
    padding: 10px 0px;
  }
  .rtl .comment-wrap .comment-meta .comment-link {
    float: right;
  }
}
