/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* lnk on detail product page */
#wishlist_button, #wishlist_button_nopop {
  font-weight: 500;
}
#wishlist_button:before, #wishlist_button_nopop:before {
  content: "\f08a";
  font: 700 15px/30px "FontAwesome";
  width: 18px;
  text-align: center;
  display: inline-block;
  height: 28px;
  margin: 0 6px 0 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
}
#wishlist_button:hover:before, #wishlist_button_nopop:hover:before {
  color: black;
}

/* wishlist block */
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0;
}
#wishlist_block #wishlist_block_list dl {
  font-weight: 400;
}
#wishlist_block #wishlist_block_list dl.products.no-products {
  font-weight: 700;
  padding: 0 0 15px 0;
  border-bottom: 1px solid #ededed;
}
#wishlist_block #wishlist_block_list dl.products.no-products dt {
  padding: 0;
  border-top: none;
}
#wishlist_block #wishlist_block_list dl.products.no-products dd {
  display: none;
}
#wishlist_block #wishlist_block_list dl.products {
  border-bottom: 1px solid #ededed;
}
#wishlist_block #wishlist_block_list dl.products dt {
  padding: 20px 0 0;
  border-top: 1px solid #ededed;
}
#wishlist_block #wishlist_block_list dl.products dd {
  padding: 0 0 20px 0;
}
#wishlist_block #wishlist_block_list dl.products dt.first_item {
  padding: 0;
  border-top: none;
}
#wishlist_block #wishlist_block_list dl dt {
  position: relative;
  padding-right: 0;
}
#wishlist_block #wishlist_block_list dl dd {
  margin: 0 0 0 24px;
}
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right;
}
.rtl #wishlist_block .ajax_cart_block_remove_link {
  float: left;
}
#wishlist_block .ajax_cart_block_remove_link:hover {
  color: #e47277;
}
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold;
}
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px;
}
.rtl #wishlist_block .quantity-formated {
  float: right;
}

#wishlist_block_list .price {
  float: right;
}
.rtl #wishlist_block_list .price {
  float: left;
}

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px;
}

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block;
}

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #ededed;
  margin-bottom: 20px;
}
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
  display: inline-block;
  color: dimgrey;
  margin: 10px 10px 10px 0px;
  font-weight: bold;
}
#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
  color: #e47277;
}

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left;
}
.rtl #module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: right;
}

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right;
}
.rtl #module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: left;
}

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none;
}

/* wlp_bought ****************************************** */
/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/
}
ul.wlp_bought_list li .product_image {
  padding: 9px;
  border: 1px solid #ededed;
  margin: 0 0 20px 0;
  max-width: 270px;
}
ul.wlp_bought_list li .product-name {
  margin: 0 0 10px 0;
  padding: 0 20px 0 0;
}
ul.wlp_bought_list li .product-name small {
  display: block;
  font-size: 11px;
}
ul.wlp_bought_list li .product-name small a {
  font-size: 11px;
}
ul.wlp_bought_list li .product_infos {
  position: relative;
}
ul.wlp_bought_list li .btn_action .btn {
  margin: 0 0 10px 0;
  font-size: 12px;
}
@media (min-width: 992px) {
  ul.wlp_bought_list li.first-in-line {
    clear: left;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  ul.wlp_bought_list li.first-item-of-tablet-line {
    clear: left;
  }
}

.wishlistLinkTop .submit {
  margin: 0 0 30px 0;
}

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px;
}

.product-container .wishlist .popover, .product-container .buttons_bottom_block .popover {
  padding: 0;
  width: 120px;
  text-transform: none;
}
.product-container .wishlist .popover .popover-content, .product-container .buttons_bottom_block .popover .popover-content {
  padding: 0;
  width: 120px;
  height: 80px;
  overflow-y: auto;
}
.product-container .wishlist .popover table, .product-container .buttons_bottom_block .popover table {
  margin-bottom: 2px;
}
.product-container .wishlist .popover table td:hover, .product-container .buttons_bottom_block .popover table td:hover {
  color: #e47277;
  cursor: pointer;
}

[id=wishlist_button] + .popover,
.wishlist_change_button + .popover {
  padding: 0;
  width: 120px;
  text-transform: none;
}
[id=wishlist_button] + .popover .popover-content,
.wishlist_change_button + .popover .popover-content {
  padding: 0;
}
[id=wishlist_button] + .popover table,
.wishlist_change_button + .popover table {
  margin-bottom: 2px;
  border: none;
}
[id=wishlist_button] + .popover table td:hover,
.wishlist_change_button + .popover table td:hover {
  color: #e47277;
  cursor: pointer;
}

.wishlist .popover, .buttons_bottom_block .popover {
  text-align: center;
}
.wishlist .popover.top .arrow, .buttons_bottom_block .popover.top .arrow {
  left: 50%;
  margin-left: -11px;
}
.rtl .wishlist .popover.top .arrow, .rtl .buttons_bottom_block .popover.top .arrow {
  right: 50%;
  left: auto;
}
.rtl .wishlist .popover.top .arrow, .rtl .buttons_bottom_block .popover.top .arrow {
  margin-right: -11px;
  margin-left: inherit;
}
.wishlist .popover.top .arrow:after, .buttons_bottom_block .popover.top .arrow:after {
  margin-left: -10px;
}
.rtl .wishlist .popover.top .arrow:after, .rtl .buttons_bottom_block .popover.top .arrow:after {
  margin-right: -10px;
  margin-left: inherit;
}
.wishlist .popover.bottom .arrow, .buttons_bottom_block .popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
}
.rtl .wishlist .popover.bottom .arrow, .rtl .buttons_bottom_block .popover.bottom .arrow {
  right: 50%;
  left: auto;
}
.rtl .wishlist .popover.bottom .arrow, .rtl .buttons_bottom_block .popover.bottom .arrow {
  margin-right: -11px;
  margin-left: inherit;
}
.wishlist .popover.bottom .arrow:after, .buttons_bottom_block .popover.bottom .arrow:after {
  margin-left: -10px;
}
.rtl .wishlist .popover.bottom .arrow:after, .rtl .buttons_bottom_block .popover.bottom .arrow:after {
  margin-right: -10px;
  margin-left: inherit;
}
.wishlist .popover .popover-title, .buttons_bottom_block .popover .popover-title {
  display: none;
}
.wishlist .popover table, .buttons_bottom_block .popover table {
  border: none;
}
.wishlist .popover-content, .buttons_bottom_block .popover-content {
  padding: 0;
  width: 120px;
}
.wishlist .popover-content table, .buttons_bottom_block .popover-content table {
  margin: 0;
  border: none;
  text-align: center;
}
.wishlist .popover-content table > tbody > tr, .buttons_bottom_block .popover-content table > tbody > tr {
  border: none;
}
.wishlist .popover-content table > tbody > tr > td, .buttons_bottom_block .popover-content table > tbody > tr > td {
  padding: 5px;
}
.wishlist .popover-content table > tbody > tr:first-child > td, .buttons_bottom_block .popover-content table > tbody > tr:first-child > td {
  border: none;
}

.buttons_bottom_block .popover .popover-title {
  display: block;
  border-bottom: 1px solid #ededed;
}
