@import "vars/block.vars";

// block.scss

// block in sidebar - left column, right column
.sidebar{
    .#{$block-selector} {
        margin-bottom: $block-margin-bottom;   
        .#{$block-heading-selector}{
            color: $block-heading-color;
            background-color: $block-heading-bg;
            a{
                color: $block-heading-color;
            }
            position: relative;                                                             
            text-transform: $block-heading-transform;
            font-family: $block-heading-font-family;        
            font-size: $block-heading-font-size;
            letter-spacing: $block-heading-letter-spacing;   
            background: $block-heading-bg;  
            font-weight: 700;
            border-bottom: $block-heading-border; 
            margin: 0;      
            padding: $block-heading-padding;
            @include rounded-corners ($block-heading-radius);
        }
        .#{$block-content-selector} {        
            @include rounded-corners ($block-content-radius);
            padding: $block-content-padding;
            @include clearfix();     
            border: $block-content-border;  
            background: $block-content-bg;             
        }
    }
    .products_block{
        .product-block{
            @include rtl-text-align-left();
            margin: 0 0 15px;
            .name{
                margin-top: 0;
            }
        }
    }
    // block-variant($border, $heading-text-color, $heading-bg-color, $heading-border)
    // Contextual variations
    .#{$block-prefix}-default {
      @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
    }
    .#{$block-prefix}-primary {
      @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
    }
    .#{$block-prefix}-success {
      @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
    }
    .#{$block-prefix}-info {
      @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
    }
    .#{$block-prefix}-warning {
      @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
    }
    .#{$block-prefix}-danger {
      @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
    }
    .#{$block-prefix}-highlighted {
        @include block-variant($block-highlighted-border, $block-highlighted-text, $block-highlighted-bg, $block-highlighted-border);
    }
}

// block in header
// block in footer
.footer-container{
    .#{$block-selector} {
        margin-bottom: 20px;
        .#{$block-heading-selector}{
            font-size: 18px;
            border-bottom: 1px solid rgba(255,255,255,0.1);
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }
    .ApColumn{
        .#{$block-selector} {
            margin-bottom: 20px;
        }
    }
}
// block in main