/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/* RIGHT TO LEFT */
/**********************************/
.fancybox-skin .leo-paneltool {
  display: none;
}

.paneltool {
  position: fixed;
  top: 5px;
  -webkit-transition: all 0.6s ease 0s;
  transition: all 0.6s ease 0s;
  right: -235px;
  z-index: 99999;
}
.rtl .paneltool {
  left: -235px;
  right: auto;
}
.paneltool .leo-dynamic-update-side {
  text-transform: uppercase;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid;
  padding: 5px;
  font-size: 11px;
}
.paneltool .leo-dynamic-update-side.current-sidebar {
  color: #e47277;
}
.paneltool.themetool {
  top: 70px;
}
.paneltool.themetool.active {
  z-index: 999999;
}
.paneltool.themetool .panelbutton {
  width: 50px;
  height: 50px;
  left: -50px;
}
.rtl .paneltool.themetool .panelbutton {
  right: -50px;
  left: auto;
}
.paneltool.themetool .panelcontent {
  min-height: 130px;
  height: 100%;
  overflow-y: auto;
}
.paneltool.themetool .group-input {
  margin-bottom: 20px;
}
.paneltool.themetool .group-input.layout .leo-dynamic-update-layout {
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0 10px 10px;
  position: relative;
}
.paneltool.themetool .group-input.layout .leo-dynamic-update-layout:before {
  content: "+";
}
.paneltool.themetool .group-input span {
  cursor: pointer;
}
.paneltool.themetool .panelinner .group-input:last-child {
  margin-bottom: 0px;
}
.paneltool.themetool label {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}
.paneltool.themetool label span {
  margin-right: 10px;
  vertical-align: middle;
}
.rtl .paneltool.themetool label span {
  margin-left: 10px;
  margin-right: inherit;
}
.paneltool.themetool .leo-dynamic-update-header {
  display: block;
  padding: 10px;
  font-size: 11px;
  text-transform: uppercase;
}
.paneltool.themetool .leo-dynamic-update-header.current-header {
  color: #e47277;
}
.paneltool.active {
  right: 0;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.rtl .paneltool.active {
  left: 0;
  right: auto;
}
.paneltool.active .panelbutton {
  color: #FFF;
}
.paneltool .panelcontent {
  background: #f2f2f2;
  width: 235px;
  min-height: 340px;
}
.paneltool .panelcontent > div {
  padding: 15px;
}
.paneltool.editortool .panelbutton {
  top: 290px;
}

.panelbutton {
  background: #000;
  position: absolute;
  left: -50px;
  top: 165px;
  border-left: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: dimgrey;
  font-size: 26px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.rtl .panelbutton {
  right: -50px;
  left: auto;
}
.rtl .panelbutton {
  border-right: none;
  border-left: inherit;
}
.panelbutton.label-customize {
  display: none;
}

#leo-paneltool {
  width: 300px;
  height: 100%;
  top: 0;
  left: -320px;
  z-index: 9999;
  -webkit-box-shadow: 0 1px 3px #999999;
  box-shadow: 0 1px 3px #999999;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-property: left, right, top, bottom, width, margin;
  transition-property: left, right, top, bottom, width, margin;
  background: none repeat scroll 0 0 #F5F5F5;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.rtl #leo-paneltool {
  right: -320px;
  left: auto;
}
.rtl #leo-paneltool {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: inherit;
}
#leo-paneltool h4 {
  margin-bottom: 20px;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}
#leo-paneltool .accordion-group {
  margin-bottom: 5px;
}
#leo-paneltool .panel-body {
  max-height: 500px;
  overflow-y: auto;
}
#leo-paneltool .block-panelcontent {
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 600px;
}
#leo-paneltool form .group-input {
  margin-bottom: 10px;
}
#leo-paneltool select {
  padding: 5px;
}
#leo-paneltool .nav-tabs > li:after, #leo-paneltool .nav-tabs > li:before {
  display: none;
}

/* Select Skin */
.leo-dynamic-theme-skin {
  float: left;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.leo-dynamic-theme-skin img {
  border: 2px solid transparent;
}
.leo-dynamic-theme-skin.skin-default {
  background-color: #e47277;
  text-indent: -99999px;
}
.leo-dynamic-theme-skin.current-theme-skin img {
  border-color: black;
}
.leo-dynamic-theme-skin.current-theme-skin.skin-default {
  border: 2px solid black;
}

/* Select Layout*/
.leo-dynamic-update-layout:hover {
  color: #e47277;
}
.leo-dynamic-update-layout.current-layout-mod {
  color: #e47277;
}

/* Enable Float Header */
.btn_enable_fheader {
  background-color: #25292C;
  margin-top: 10px;
  margin-left: 10px;
  width: 100px;
  height: 36px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  position: relative;
}

.enable_fheader {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: white;
  background-color: #504C4C;
  margin-top: 3px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.enable_fheader i {
  position: relative;
  z-index: 9;
}
.enable_fheader:first-child {
  float: left;
  margin-left: 3px;
}
.enable_fheader:last-child {
  float: right;
  margin-right: 3px;
}
.enable_fheader.btn_no:before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  left: 4px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: #e47277;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.enable_fheader.btn_yes:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3px;
  right: 4px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
  border-radius: 18px;
  background-color: #e47277;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: hidden;
}
.enable_fheader.current.btn_no:before {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  left: 67px;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.enable_fheader.current.btn_yes:after {
  opacity: 1;
  filter: alpha(opacity=100);
  visibility: visible;
  right: 67px;
  -webkit-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}

/* Box Patterns */
.box-patterns div {
  display: block;
  width: 38px;
  height: 38px;
  float: left;
  cursor: pointer;
  margin: 6px;
  border: 1px solid #ccc;
}
.rtl .box-patterns div {
  float: right;
}
.box-patterns div.active {
  border-color: red;
}

.colorpicker {
  z-index: 99999;
}

/* Customize body */
#customize-body input[type="text"], #customize-body select {
  border: 1px solid #E2E2E2;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  color: #FFFFFF;
  font-size: 11px;
  margin: 0 5px 0 0;
  padding: 2px 3px;
  width: 65px;
  height: auto;
  display: inline-block;
}
#customize-body select {
  color: #888;
}
#customize-body .accordion-group label {
  color: #888;
  font-size: 11px;
  font-weight: normal;
}
#customize-body .accordion-group .input-group .input-group-addon {
  padding: 0;
  background: transparent;
  border: none;
  float: right;
  margin-top: 2px;
  width: 20px;
}
.rtl #customize-body .accordion-group .input-group .input-group-addon {
  float: left;
}
#customize-body .panel-heading {
  padding: 5px 6px;
  font-weight: bold;
  font-size: 11px;
}
#customize-body .panel-heading a {
  display: block;
}
#customize-body .nav-tabs > li:nth-child(2) {
  border: 1px solid #ddd;
}
#customize-body .nav-tabs a {
  border: none;
  font-weight: bold;
  font-size: 11px;
  padding: 6px 12px;
}
#customize-body .form-group {
  margin-bottom: 10px;
}
#customize-body .accordion-inner .form-group .input-group {
  display: inline-block;
  width: 92px;
  float: left;
}
.rtl #customize-body .accordion-inner .form-group .input-group {
  float: right;
}

/* wrapper */
.bi-wrapper > div {
  float: left;
  width: 25px;
  height: 25px;
  margin: 3px 4px;
  border: solid 1px #999;
  cursor: pointer;
}
.rtl .bi-wrapper > div {
  float: right;
}
.bi-wrapper > div.active {
  border-color: red;
}

/* Accordion */
.accordion-group label,
.form-group label {
  display: block;
}

.accordion-group label {
  min-width: 100px;
}

.clear-bg {
  padding: 3px 6px;
  margin-left: 5px;
}
.rtl .clear-bg {
  margin-right: 5px;
  margin-left: inherit;
}

/* Home page version */
.group-profile a,
.group-header a,
.group-footer a {
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
}
.group-profile a:before,
.group-header a:before,
.group-footer a:before {
  content: "\f067";
  font-family: "FontAwesome";
  padding-right: 5px;
  font-size: 10px;
}
.rtl .group-profile a:before, .rtl
.group-header a:before, .rtl
.group-footer a:before {
  padding-left: 5px;
  padding-right: inherit;
}
.group-profile a.active,
.group-header a.active,
.group-footer a.active {
  color: #e47277;
}

.group-profile a,
.group-header a {
  width: 100%;
  float: left;
  padding-right: 15px;
}
.rtl .group-profile a, .rtl
.group-header a {
  float: right;
}
.rtl .group-profile a, .rtl
.group-header a {
  padding-left: 15px;
  padding-right: inherit;
}
