/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/***********************************************************************/
/** CHECKOUT BY STEP */
/**********************
	HOME 6
	**********************/
/* Block */
#index .sidebar .block .title_block {
  border: none;
}

/* Widget */
.group-home6 .title_block {
  font-size: 22px;
  margin: 0 0 40px 20px;
  text-transform: none;
  color: #5d3b3c;
}
.rtl .group-home6 .title_block {
  margin: 0 20px 40px 0;
}

.product-deal-group .title_block {
  text-align: center;
}

.footer-container .ApColumn .block.latest-blogs {
  margin-bottom: 60px;
}

.latest-blogs {
  border-top: 1px solid #ededed;
  padding-top: 50px;
}
.latest-blogs .image {
  margin-right: 20px;
}
.rtl .latest-blogs .image {
  margin-left: 20px;
  margin-right: inherit;
}
.latest-blogs .image img {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  margin: auto;
}
.latest-blogs .blog-title {
  margin-top: 0;
}
.latest-blogs .blog-readmore {
  display: none;
}

#index .sidebar .ApColumn .block.products_block.sale-off {
  margin-bottom: 20px;
}
#index .sidebar .ApColumn .block.products_block.feature-products {
  margin-bottom: 30px;
}
#index .sidebar .ApColumn .block.img_anim {
  margin-bottom: 60px;
}

#reinsurance-block {
  border-bottom: none;
  margin: 0;
}
#reinsurance-block .latest-blogs {
  margin-bottom: 50px;
}

/* Slideshow */
.iview-controlNav div.iview-items {
  left: 0;
}
.rtl .iview-controlNav div.iview-items {
  right: 0;
  left: auto;
}

/* Megamenu */
#leo-megamenu {
  border-bottom: 1px solid #ededed;
  margin-bottom: 40px;
}

/* Sidebar menu  */
#leo-verticalmenu {
  margin-bottom: 20px;
}

div.verticalmenu .navbar-nav {
  padding-bottom: 51px;
}
div.verticalmenu .navbar-nav > li a {
  padding: 10px 10px 10px 60px;
}

/* Responsive */
@media (max-width: 1300px) and (min-width: 1024px) {
  div.verticalmenu .navbar-nav {
    padding-bottom: 20px;
  }
  div.verticalmenu .navbar-nav > li a {
    padding: 8px 10px 8px 35px;
  }
  .rtl div.verticalmenu .navbar-nav > li a {
    padding: 8px 35px 8px 10px;
  }
}
