// Block Modules 
// ========================================================================

$block-margin-bottom: 					20px !default;

$block-heading-radius: 					0px;
$block-heading-border: 					$main-border !default;
$block-heading-transform:        		none !default;
$block-heading-line-height:      		20px !default;
$block-heading-letter-spacing:        	0px !default; 
$block-heading-font-family:    			$headings-font-family !default;
$block-heading-font-size:				24px !default;
$block-heading-bg:						$nocolor !default;
$block-heading-color:					#5d3b3c !default;
$block-heading-padding: 				0px 0px 20px !default;

$block-content-bg:						$nocolor !default;
$block-content-border:					1px solid $nocolor !default;
$block-content-padding:					15px 0 !default;
$block-content-margin:         			0px !default;
$block-content-radius:         			0px !default;

// get content icon from link http://fortawesome.github.io/Font-Awesome/icons/ or img icon from theme folder 
$block-icon-content:         	"\f0c9" !default; 
//$block-icon-content:         	url(#{$image-theme-base-path}icon/form-ok.png) !default;


$block-highlighted-bg			: #f8f8f8 !default;
$block-highlighted-border		: $nocolor !default;
$block-highlighted-text			: $black !default;
$block-highlighted-transform    : uppercase !default;
