
@import "compass";
@import "theme_variables";

/**********************************************
STYLE GLOBAL
**********************************************/
.group-widget, .ApColumn{
  .title_block{
    font-size: 22px;
    position: relative;
    padding: 0;
    margin: 0 0 40px;
    @include rtl-text-align-left();
    text-transform: none;
    color: #5d3b3c;
  }
}
.group-widget{
  .product-deal-group .title_block{
    text-align: center;
  }
}

.ApColumn{
  .block{
    &.products_block{
      margin-bottom: 50px;
    }
    margin-bottom: 70px;
  }
}
.bg-fullwidth{
  position: relative;
  &:before{
    padding: 0px 1000px;
    @include rtl-margin-left(-1000px);
    width: 100%;
    overflow: hidden;
    @include box-sizing(content-box);
    position: absolute;
    height:100%;
    display: block !important;
    top: 0;
  }
}

/**
* Start for module ap_gmap
*/

div[id^="google-maps"] {
    position: relative;
}
div[id^="gmap-stores-list"] {
    overflow: auto!important;
}
div[id^="gmap-stores-list"] > ul {
    margin: 30px;
}
.display-list-store {
    background-color: #6cabd5;
    float: left;
}
.gmap-stores-content, .gmap-content {
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
}
.not-display-list-store .gmap-stores-content, .not-display-list-store .gmap-content {
    width: 100%;
}
.gmap-cover {
    width: 100%;
}

.item-gmap-store {
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    text-transform: uppercase;
    color: #fff;
    @include transition(all 0.1s ease-in-out);
    &:hover{
      color: #000;
      border-bottom: 1px solid rgba(0, 0, 0, 0.4);
     @include transition(all 0.3s ease-in-out);
    }
    .icon-map-marker {
      margin-right: 6px;
      font-size: 120%;
  }
    text {
      font-size: 85%;
    }
}

/**
* End for module ap_gmap
*/
/**
* Start for module ap_product_list
*/
.box-show-more {
  border-bottom: 1px solid #d6d4d4;
  padding-bottom: 5px;
  text-align: center;
  display: none;
  .open {
    display: block;
  }
}

/* Start for module ap_image */
.ap_image .has-animation {
  @include opacity(0);
}
.ap_image .has-animation.animated {
  @include opacity(1);
}

/* End for module ApFullSlider */
 .full-slider {
    margin-top: 20px;
  .carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    .item {
      width: 100%;
      height: 100%;
    }
  }
}

.full_slide_detail{
   .full-slider {
    margin-top: 50px;
    .carousel-inner {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 100%;
      background: url(../img/background_image_gallery.jpg);
      .item {
        padding: 15px 20px;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* Start for module ApFullSlider */
.cover-live-edit {
  width: 100%;
  border-top: 1px dashed #bdbdbd;
  .link-to-back-end {
    text-decoration: none;
    color: #fff;
    z-index: 9999;
    background-color: rgba(204, 153, 0, 0.5);
    padding: 5px;
    position: relative;
    @include box-shadow(0 0 5px #bdbdbd);
    @include transition(all 0.4s ease-in-out);
    &:hover {
      background-color: #00e676;
      @include transition(all 0.2s ease-in-out);
    }
  }
}

.ap-cover-hook {
  border: 1px dashed #bdbdbd;
  @include transition(all 0.2s ease-in-out);
  &:hover {
    border: 1px dashed #333;
    @include transition(all 0.2s ease-in-out);
  }
}

/**
* ApVideo
*/
.embed-responsive{ 
  position: relative; 
  padding-bottom: 56.25%; 
  height: 0; 
  overflow: hidden; 
  max-width: 100%; 
}
.embed-responsive iframe, 
.embed-responsive object, 
.embed-responsive embed{ 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
}
/* Instagram Block */
.instagram-block{
  a {
    display: inline-block;
    margin: 0 3px;
    overflow: hidden;
    position: relative;
    img {
      width: 85px;
      height: 85px;
    }
  }
  .link-instagram{
    display: none;
    a{
      margin: 10px 0 0;
    }
  }
}
#instafeed{margin: 0 -3px;}
/* Tabs Top */
.tabs-top{
  &.product-tabs{
    .nav-tabs{
      margin-bottom: 45px; border: none;
      > li{
        border: none; margin: 0;
        > a {
          color: #d4d4d4;
          font-family: $font-family-senary;
          font-size: 22px;
          font-weight: 700;
          text-transform: uppercase;
          @include rtl-padding(0, 35px, 0, 0);   
          @include border-radius(0);       
          background: transparent;
          margin: 0;
          border: none;
          &:hover{
            color: $theme-color-default;
            border: none;
          }
        }
        &.active{
          > a, >a:hover, a:focus{
            color: $theme-color-default;
            border: none;
          }
        }
      }
    }
  }
}
/* Raw HTML */
#reinsurance-block{
  margin: 0 0 50px;
  border-bottom: $main-border;
  @media (max-width: $screen-xs-max) { // max 767px
    margin-bottom: 20px;
  }
  .block{
    margin-bottom: 0;
    @media (max-width: 991px) and (min-width: 767px){
      min-height: 150px;
    }
  }
  [class*="col-"]{
    padding: 0;
  }
  .feature-box{
    @include rtl-padding(30px, 35px, 30px, 0);
    position: relative;  
    line-height: 20px;
    border-top: $main-border;
    color: #696969;
    display: flex;
    @media (min-width: $screen-xs-max + 1) { // min 768px
      &:after{
        content: "";
        position: absolute;
        top: 35px;
        @include rtl-right(25px);
        width: 1px;
        height: 60px;
        @include rtl-border-right($main-border);
      }
    }
    &.last{
      &:after{
        display: none;
      }
    }
    .fbox-icon {
      @include rtl-float-left();
      @include rtl-margin-right(20px);
      margin-top: 5px;
      .icon{
        width: 55px;
        height: 55px;
        background: url("../../../../../img/default/icon-reinsurance.png") no-repeat 0 0 $nocolor;
        display: block;
        color: $white;
        &.icons-v2{
          background-position: 0px -73px;
        }
        &.icons-v3{
          background-position: 0px -145px;
        }
        &.icons-v4{
          background-position: 0px -214px;
        }
      }
    }
    h4{
      margin: 0 0 5px; 
      padding: 0px 0 5px;
      font-size: 14px;
      color: $theme-color-secondary;
    }
    p {
      margin: 0;
      padding: 0;
    }
    &:hover{
      cursor: pointer;
      .fbox-icon{
        @include transform(rotate(360deg));
        @include transition(all 0.4s ease 0s);
      }
    }
  }
}
/* ApImage */
.ApImage{
  img{
    margin: auto;
  }
  &.logo-footer{
    margin-bottom: 0;
    img{
      margin-bottom: 15px;
    }
    .image_description{
      line-height: 24px;
    }
  }
  &.payment{
    margin-bottom: 0;
    @include rtl-text-align-right();
    img{
      display: inline-block;
      margin-top: 10px;
    }
  }
}
/* Widget Category Image */
.widget-category-top{
  .widget-category_image{
    a{
      width: 100%;
      @media (min-width: 991px) {
        &:hover{
          .nbproducts-child{
            height: 80px;
            &:before{
              content:'\f2ee';
            }
            .name-cat{
              margin-bottom: 5px;
            }
          }
        }
      }
    }
    .nbproducts-child{
      background-color: rgba(0,0,0,0.1);
      width: 100%;
      position: absolute;
      bottom: 0;
      padding: 10px 40px;
      @include rtl-left(0);
      @include transition(all 0.3s ease 0s);
      @media (max-width: 1024px) {
        padding: 10px;
      }
      @media (min-width: $screen-sm-max) {
        height: 50px;
      }
      &:before{
        content:'\f275';
        font-family: 'Material-Design-Iconic-Font';
        font-size: 18px; 
        color: $white;
        position: absolute;
        bottom: 10px;
        @include rtl-right(40px);
        @include rtl-float-right();
      }
    }
    .cate_content{
      display: inline-block;
      position: relative;
      width: 100%;
      img{
        width: 100%;
      }
    }
    .name-cat{
      font-weight: 700;
      font-size: 22px;
      text-transform: uppercase;
      color: $white;
      display: block;
      @media (max-width: 1024px) {
        font-size: 18px;
      }
      @media (min-width: $screen-sm-max) {
        margin-bottom: 15px;
      }
    }
    .leo-qty{
      color: $white;
      span{
        margin-left: 3px;
      }
    }
  }
}
.widget-category_image{
  a{
    color: $white;
    display: inline-block;
  }
  .cate_content{
    .cate-parent{
      text-transform: uppercase;
      font-size: 22px;
      font-weight: 700;
      position: absolute;
      top: 0;
      @include rtl-padding(25px, 20px, 20px, 40px);
      white-space: inherit;
      @media (max-width: $screen-md-max) { /* max 1199px */
        @include rtl-padding(20px, 10px, 20px, 30px);
      }
      @media (max-width: 1024px) {
        padding: 15px 20px;
      }
      @media (min-width: $screen-sm-max) { // min 991px
        width: 50%;
      }
      @media (max-width: $screen-sm-max - 1) { // max 990px
        width: 40%;
      }
      @media (max-width: 480px){
        font-size: 15px;
      }
    }
  }
  ul{
    margin: 0;
    position: relative;
    ul{
      padding: 6% 20px 10px 40px;
      position: absolute;
      top: 0;
      @media (max-width: $screen-md-max) { /* max 1199px */
        padding: 10px 20px;
      }
      @media (min-width: $screen-sm-max) { // min 991px
        @include rtl-left(50%);
      }
      @media (max-width: $screen-sm-max - 1) { // max 990px
        @include rtl-left(40%);
      }
      .leo-qty{
        display: none !important;
      }
      .name-cat{
        line-height: 25px;
        @media (max-width: $screen-md-max) { // max 1199px
          line-height: 21px;
        }
      }
    }
  }
}
/* Product Carousel */
.products_block{
  &.recently-viewed{
    margin-bottom: 50px;
  }
  &.margin-bt45{
    margin-bottom: 45px;
  }
}
.product-deal-group{
  position: relative;
  @include box-sizing(border-box);
  &.deal-home-1{
    padding: 0 70px;
    margin: 0 auto;
    float: none;
    @include deal-bg-color();
    @media (max-width: $screen-md-max) { // max 1199px
      padding: 0 25px;
    }
    .products_block{
      padding-bottom: 50px;
      padding-top: 40px;
      margin-bottom: 70px;
    }
  }
  .title_block{
    margin: -10px 0 0px;
    display: inline-block;
    left: 0;
    right: 0;
    position: absolute;
    span{
      background: $white;
      padding: 0 40px;
    }
  }
  &.deal-home-3{
    .products_block{
      position: relative;
      padding: 50px 60px 40px;
      margin-bottom: 70px;
      @include deal-bg-color();
      @media (max-width: $screen-md-max) { // max 1199px
        padding: 50px 20px 40px;
      }
    }
  }
  .ApBlockLink{
    text-align: center;
    .block{margin: 0;}
    ul{
      border: $main-border;
      margin: 40px 0 0;
      display: inline-block;
      li{
        display: inline-block;
        padding: 10px 15px 8px;
        border-right: $main-border;
        @media (max-width: $screen-md-max) { // max 1199px
          padding: 10px 8px 8px;
        }
        @media (max-width: 568px) { // max 568px
          width: 50%;
          @include rtl-float-left();
          @include rtl-border-right(none);
          @include rtl-text-align-left();
        }
        &:last-child{
          @include rtl-border-right(none);
        }
      }
    }
  }
  .owl-theme{
    .owl-controls{
      .owl-buttons{
        right: 0;
        left: 0;
        top: -35px;
        width: 55px;
        margin: 0 auto;
      }
    }
  }
}
/* Count Down */
.leo-more-cdown{
  ul{
    left: 0;
    right: 0;
    margin: -55px auto 0;
    position: absolute;
    width: 94%;
    @include gradient-horizontal($start-color: #f1b6b9, $end-color: #e47277, $start-percent: 0%, $end-percent: 100%);
    @include rounded-corners(3px);
    li {
      padding: 0;
      width: 18%;
      height: 40px;
      line-height: 40px;
      color: $white;
      margin: 0 5px;
      position: relative;
      cursor: pointer;
      text-align: center;
      display: inline-block;
      span {
        display: none;
        text-transform: uppercase;
        position: absolute;
        left: 0;
      }
      b{
        display: inline-block;
        position: relative;
        font-size: 22px;
        color: $white;
        font-weight: 300;
        &:before {
          position: absolute;
          font-size: 22px;
          top: 0;
          content: ":";
          color: $white;
          @include rtl-left(0);
          @include rtl-margin-left(-12px); 
          @media (max-width: 1024px) { /* max 1024px */
            @include rtl-margin-left(-10px);  
            top: -2px;
          }
        }
        @media (max-width: 1024px) { /* max 1024px */
          font-size: 18px;
        }
      }
      &.day{
        b{
          &:before{display: none;}
        }
      }
    }
  }
}
/* Latest Blog */
.latest-blogs{
  .image{
    @include rtl-float-left();
    @include rtl-margin-right(40px);
    overflow: hidden;
    zoom: 1;
  }
  .right-block{
    overflow: hidden;
    zoom: 1;
  }
  .blog-title{
    a{
      color: $theme-color-secondary;
      &:hover{
        color: $theme-color-default;
      }
    }
  }
  .blog-meta{
    color: $theme-color-default;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .blog-readmore{
    margin-top: 20px;
    .btn-readmore{
      background: $white;
      border: $main-border;
      @include rtl-padding(5px,40px,5px,10px);
      color: $theme-color-default;
    }
  }
}